root = true

# ---------------------------------------------------------
# 基本設定（全ファイル共通）
# ---------------------------------------------------------
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
trim_trailing_whitespace = true

# ---------------------------------------------------------
# YAML（2スペース）
# ---------------------------------------------------------
[*.yml]
indent_size = 2

[*.yaml]
indent_size = 4

# ---------------------------------------------------------
# JSON / Markdown（4スペース）
# ---------------------------------------------------------
[*.json]
indent_size = 4

[*.md]
indent_size = 4

# ---------------------------------------------------------
# Java（4スペース）
# ---------------------------------------------------------
[*.java]
indent_size = 4
indent_style = space

# ---------------------------------------------------------
# Gradle（4スペース）
# ---------------------------------------------------------
[*.gradle]
indent_size = 4
indent_style = space

# ---------------------------------------------------------
# Git関連（4スペース）
# ---------------------------------------------------------
[*.gitattributes]
indent_style = space
indent_size = 4

[*.gitignore]
indent_style = space
indent_size = 4
