.publicLayout {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  transition: transform 180ms ease, box-shadow 180ms ease;
  width: 100%;
}

/* ヘッダー見える、見えない調節 */
.headerVisible {
  transform: translateY(0);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
}
/* ヘッダー見える、見えない調節 */
.headerHidden {
  transform: translateY(-110%);
  box-shadow: none;
}

.menubutton {
  background-color:#ffffff;
  color: #000000;
  border-radius:4px;
  min-width: 40px;
  min-height: 37px;
  border-width: 2px;
  cursor: pointer;
  margin-right: 8px; 
  border-color: #ccc;  
  font-size: 16px;    
  color: #333;       
  display: block;     
}


.menuopen{
    position: absolute;
    top: calc(100%); 
    right: 0px;
    background-Color: #ffffff; 
    padding: 10px;

    border: 1px solid #ddd;
    min-Width: 200px;         
    white-Space: nowrap;      
    display: flex;          
    flex-Direction: column;
    color: #000000;
    text-decoration-line: none;
    font-weight :500;
}    

.divider {
  border: 0;
  border-top: 1px solid #eee;  
  margin: 10px 0;              
  width: 100%;                 
  box-sizing: border-box;      
}

.header {
        display: flex;
        gap: 12px;
        align-Items: center;
        flex-Wrap: wrap;
        align-items: center;
        height: 64px;
}

.headerin {
        margin-Left: auto;
        display: flex;
        gap: 12px;
        align-Items: center;
        flex-Wrap: wrap;
        align-items: center;
}

.nav {
    gap: 0;
    font-size: 16px;       /* ハイフン(-) 必須　及び px単位必須 */
    display: flex;         /* 、はNG */
    align-items: center;   /* ハイフン(-) 必須　及び  、はNG*/
    border: 1px solid #ccc; /* 色指定 */
    color: #000000;
}

.navlink { 
    flex: 1px; 
    padding: 12px; 
    text-Align: center;
    color: #000000;
    text-decoration-line: none;
    font-weight :500;
}

.adminlogo { 
  height: 60px;
    display: flex;  
    align-items: center;    
    justify-content: left;  
    font-size: 24px;
    text-align: center;   
    padding: 0px 12px;
    color: #000000;
    text-decoration: none;  
    font-weight: 700;
    gap: 10px;
}

.footer {
    margin-Top: 24px;
    opacity: 0.85px;
    font-Size: 12px;
    display: flex;
    gap: 12px;
    flex-Wrap: wrap;
    align-Items: center;
    border-Top: 1px solid #eee;
    padding-Top: 12px;
}



.withShadow {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.06);
}